<section class="messages">
	<div class="new">
		<h2><a href="/new_message/<%= @current_user.id %>">Write a new message</a></h2>
	</div>
	<h2>Past messages:</h2>
	<% @user_messages.each do |m| %>
		<div class="post">
			<div><strong>To:</strong> <%= m.mail_to %></div>
			<div><strong>From:</strong> <%= m.mail_from %></div>
			<div><strong>Re: <%= m.subject %></strong></div>
			<div><%= m.created_at %></div>
			<div><%= m.body %></div>
		</div>
	<% end %>
</section>

<section class="posts">
	<div class="new">
		<h2><a href="/new_post/<%= @current_user.id %>">Post a new PSA</a></h2>
	</div> 
	<h2>Past posts:</h2>
	<% @user_posts.each do |p| %>
		<div class="post">
			<div><strong><%= p.title %></strong></div>
			<div><%= p.created_at %></div>
			<div><%= p.description %></div>
		</div>
	<% end %>
</section>