<section class="left_sec">
	<div class="new">
		<h2><a href="/message/new">Write a new message</a></h2>
	</div>
	<h2>Your sent messages:</h2>
	<% @user_messages.each do |m| %>
		<div class="post">
			<div><strong>To:</strong> <%= m.mail_to %></div>
			<div><strong>From:</strong> <%= m.mail_from %></div>
			<div><strong>Re: <%= m.subject %></strong></div>
			<div class="date"><%= m.created_at %></div>
			<p><%= m.body %></p>
			<hr>
			<p>To follow up on this issue, contact:</p>
			<div><strong><%= Organization.find_by(email: m.mail_to).org_name %></strong></div>
			<div><span class="contact_icon">&#59172;</span>
				<span><%= Organization.find_by(email: m.mail_to).address %></span>
			</div>
			<div><span class="contact_icon">&#128222;</span>
				<span><%= Organization.find_by(email: m.mail_to).phone %></span>
			</div>
		</div>
	<% end %>
</section>

<section class="right_sec">
	<div class="new">
		<h2><a href="/post/new">Post a new PSA</a></h2>
	</div> 
	<h2>Your past posts:</h2>
	<% @user_posts.each do |p| %>
		<div class="post">
			<div><strong><%= p.title %></strong></div>
			<div class="date"><%= p.created_at %></div>
			<p><%= p.description %></p>
			<p><a href="/post/update/<%= p.id %>">Update this post</a> | 
			<a href="/post/delete/<%= p.id %>">Delete this post</a></p>
		</div>
	<% end %>
</section>