<section class="messages">
	<a href="/new_message/<%= @current_user.id %>">Write a new message</a>
	<div>
			<% @user_messages.each do |m| %>
				To: <%= m.mail_to %>
				From: <%= m.mail_from %>
				Re: <%= m.subject %>
				<%= m.created_at %>
				<div class="textarea"><%= m.body %></div>
			<% end %>
	</div>
</section>

<section class="posts">
	<a href="/new_post/<%= @current_user.id %>">Post a new PSA</a>
	<div> 
		<% @user_posts.each do |p| %>
			<%= p.title %>
			<%= p.created_at %>
			<div class="textarea"><%= p.description %></div>
		<% end %>
	</div>
</section>